/* 
https://webfontworld.github.io/naver/NanumPen.css
https://webfontworld.github.io/naver/NanumPen.png
https://wess.tistory.com/229
*/

@font-face {
    font-family: 'NanumPen';
    font-weight: normal; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumPen.woff2) format('woff2');
    font-display: swap;
}