/* 
https://webfontworld.github.io/naver/NanumBrush.css
https://webfontworld.github.io/naver/NanumBrush.png
https://wess.tistory.com/225
*/

@font-face {
    font-family: 'NanumBrush';
    font-weight: normal; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumBrush.woff2) format('woff2');
    font-display: swap;
}